In [1]:
#Installation of Local/Compass MongoDb in Jupyter Notebook
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\ravi0dubey\anaconda3\lib\site-packages (4.1.1)

In [2]:
#If we are connecting to Atlas/Cloud MongoDB,  we need to install following
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\ravi0dubey\anaconda3\lib\site-packages (4.1.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\ravi0dubey\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

In [102]:
#For Atlas/Cloud MongoDB, Follow below steps to establish connection to Cloud MongoDB 
# userid : ravi0dubey password : Logi1234 of 
import pymongo
clientcloud = pymongo.MongoClient("mongodb+srv://ravi0dubey:Logi1234@cluster0.9hjidow.mongodb.net/?retryWrites=true&w=majority")
db = clientcloud.test

In [10]:
clientcloud #If we get connect= True, It shows that connnection is established with Cloud/Atlas MONGODB

MongoClient(host=['ac-j8dy990-shard-00-02.9hjidow.mongodb.net:27017', 'ac-j8dy990-shard-00-00.9hjidow.mongodb.net:27017', 'ac-j8dy990-shard-00-01.9hjidow.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-78y1q9-shard-0', tls=True)

In [103]:
#Establish a connection with local MongoDB
import pymongo
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017"
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

In [104]:
client #If we get connect= True, It shows that connnection is established with local/Compass MONGODB

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [105]:
#Create a DB in local System
DB_NAME_LOCAL = "StudentLocal"
database_local = client[DB_NAME_LOCAL]

In [106]:
#Shows list of database existing in Local System
client.list_database_names()

['StudentLocal', 'admin', 'config', 'local']

In [40]:
#Create a DB in Cloud System
DB_NAME_CLOUD = "StudentCloud"
database_cloud = clientcloud[DB_NAME_CLOUD]

In [13]:
#Shows list of database existing in Cloud System
clientcloud.list_database_names()

NameError: name 'clientcloud' is not defined

In [107]:
database_local

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'StudentLocal')

In [18]:
#create a new collection in local system with name "test" 
# tables in MYSQL = Collection in MongDB
collection = database_local["test"]

In [19]:
#collection can be verified verify
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'StudentLocal'), 'test')

In [44]:
#Insert a record in collection
record = {'companyName': 'Hexacube',
         'product':'Affordable AI',
         'courseOffered':'Deep Learning for Computer Vision'}
collection.insert_one(record)

In [20]:
select * from StudentLocal.test

SyntaxError: invalid syntax (Temp/ipykernel_6060/548753565.py, line 1)

In [110]:
#Insert single record in collection
record = {'companyName': 'Hexacube',
         'product':'Affordable AI',
         'courseOffered':'Deep Learning for Computer Vision',
         'studentname' :['Ravi','Astha','Lika','Illisha'],
          'Listof Places':{"india": ['Noida','Bengaluru','Pune','Chennai'], "outside india": ['Paris','Belgium','USA','Canada']
          ,}}
collection.insert_one(record)

In [112]:
#create a new collection in local system with name "test" 
# tables in MYSQL = Collection in MongDB
collection = database_local["test1"]

#Insert multiple record in collection
record = [
         {'companyName': 'Hexacube',
         'product':'Affordable AI',
         'courseOffered':'Deep Learning for Computer Vision',
         'studentname' :['Ravi','Astha','Lika','Illisha'],
         'Listof Places':{"india": ['Pune','Chennai'], "outside india": ['Canada']},
         },
         {'companyName': 'Hexacube',
         'product':'Affordable AI',
         'courseOffered':'Deep Learning for Computer Vision',
         'studentname' :['Ravi','Astha','Lika','Illisha'],
         },
         ]

collection.insert_many(record)

In [48]:
collection = database_local["test1"]

record =[
{
  "companyName": "Hexacube",
  "product": "Affordable AI",
  "courseOffered": "Deep Learning for Computer Vision",
  "studentname": [
    "Ravi",
    "Astha",
    "Lika",
    "Illisha"
  ],
  "Listof Places": {
    "india": [
      "Noida",
      "Bengaluru",
      "Pune",
      "Chennai"
    ],
    "outside india": [
      "Paris",
      "Belgium",
      "USA",
      "Canada"
    ]
  }
},
{
  "companyName": "Hexacube",
  "product": "Affordable AI",
  "courseOffered": "Deep Learning for Computer Vision",
  "studentname": [
    "Ravi",
    "Astha",
    "Lika",
    "Illisha"
  ],
  "Listof Places": {
    "india": [
      "Noida",
      "Bengaluru",
      "Pune",
      "Chennai"
    ],
    "outside india": [
      "Paris",
      "Belgium",
      "USA",
      "Canada"
    ]
  }
},{
  "companyName": "Hexacube",
  "product": "Affordable AI",
  "courseOffered": "Deep Learning for Computer Vision",
  "studentname": [
    "Ravi",
    "Astha",
    "Lika",
    "Illisha"
  ],
  "Listof Places": {
    "india": [
      "Noida",
      "Bengaluru",
      "Pune",
      "Chennai"
    ],
    "outside india": [
      "Paris",
      "Belgium",
      "USA",
      "Canada"
    ]
  }
},
{
  "companyName": "Hexacube",
  "product": "Affordable AI",
  "courseOffered": "Deep Learning for Computer Vision",
  "studentname": [
    "Ravi",
    "Astha",
    "Lika",
    "Illisha"
  ],
  "Listof Places": {
    "india": [
      "Noida",
      "Bengaluru",
      "Pune",
      "Chennai"
    ],
    "outside india": [
      "Paris",
      "Belgium",
      "USA",
      "Canada"
    ]
  }
}
]

In [49]:
collection.insert_many(record)

In [83]:
# Python program to read json file and write into collection "test2"

collection = database_local["test2"]
import json

# Opening JSON file
f = open('jsonfile.txt')

# returns JSON object as
# a dictionary
data = json.load(f)
print(f"data: {data}")

# Iterating through the json
# list
for i in data['Actors']:
    print(i)
    print(i['name'])
    collection.insert_one(i)

# Closing file
f.close()

data: {'Actors': [{'name': 'Tom Cruise', 'age': 56, 'Born At': 'Syracuse, NY', 'Birthdate': 'July 3, 1962', 'photo': 'https://jsonformatter.org/img/tom-cruise.jpg', 'wife': None, 'weight': 67.5, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Suri', 'Isabella Jane', 'Connor']}, {'name': 'Robert Downey Jr.', 'age': 53, 'Born At': 'New York City, NY', 'Birthdate': 'April 4, 1965', 'photo': 'https://jsonformatter.org/img/Robert-Downey-Jr.jpg', 'wife': 'Susan Downey', 'weight': 77.1, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Indio Falconer', 'Avri Roel', 'Exton Elias']}]}
{'name': 'Tom Cruise', 'age': 56, 'Born At': 'Syracuse, NY', 'Birthdate': 'July 3, 1962', 'photo': 'https://jsonformatter.org/img/tom-cruise.jpg', 'wife': None, 'weight': 67.5, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Suri', 'Isabella Jane', 'Connor']}
Tom Cruise
{'name': 'Robert Downey Jr.', 'age': 53, 'Born At': 'New York City, NY', 'Birthdate': 'April 4, 1965', 'photo': 'https://jsonformatter.org/img/Robert-Downey-Jr.jpg', 'wife': 'Susan Downey', 'weight': 77.1, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Indio Falconer', 'Avri Roel', 'Exton Elias']}
Robert Downey Jr.

# To Read Records from MONGO DB

In [58]:
#To read the record

N_record = collection.find()
for idx,record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('629b227098c5b5d6e9a41a44'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22a398c5b5d6e9a41a45'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22a398c5b5d6e9a41a46'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22bd98c5b5d6e9a41a47'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22bd98c5b5d6e9a41a48'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22bd98c5b5d6e9a41a49'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22bd98c5b5d6e9a41a4a'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

In [59]:
#To read record based on count

No_records = 3
N_record = collection.find().limit(No_records)
for idx,record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('629b227098c5b5d6e9a41a44'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22a398c5b5d6e9a41a45'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

{'_id': ObjectId('629b22a398c5b5d6e9a41a46'), 'companyName': 'Hexacube', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'studentname': ['Ravi', 'Astha', 'Lika', 'Illisha'], 'Listof Places': {'india': ['Noida', 'Bengaluru', 'Pune', 'Chennai'], 'outside india': ['Paris', 'Belgium', 'USA', 'Canada']}}

In [84]:
records_data = collection.find()
for idx,record in enumerate(records_data):
    print(f"{record}\n")

{'_id': ObjectId('629b6a1998c5b5d6e9a41a4b'), 'name': 'Tom Cruise', 'age': 56, 'Born At': 'Syracuse, NY', 'Birthdate': 'July 3, 1962', 'photo': 'https://jsonformatter.org/img/tom-cruise.jpg', 'wife': None, 'weight': 67.5, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Suri', 'Isabella Jane', 'Connor']}

{'_id': ObjectId('629b6a1998c5b5d6e9a41a4c'), 'name': 'Robert Downey Jr.', 'age': 53, 'Born At': 'New York City, NY', 'Birthdate': 'April 4, 1965', 'photo': 'https://jsonformatter.org/img/Robert-Downey-Jr.jpg', 'wife': 'Susan Downey', 'weight': 77.1, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Indio Falconer', 'Avri Roel', 'Exton Elias']}

{'_id': ObjectId('629b6a5198c5b5d6e9a41a4d'), 'name': 'Tom Cruise', 'age': 56, 'Born At': 'Syracuse, NY', 'Birthdate': 'July 3, 1962', 'photo': 'https://jsonformatter.org/img/tom-cruise.jpg', 'wife': None, 'weight': 67.5, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Suri', 'Isabella Jane', 'Connor']}

{'_id': ObjectId('629b6a5198c5b5d6e9a41a4e'), 'name': 'Robert Downey Jr.', 'age': 53, 'Born At': 'New York City, NY', 'Birthdate': 'April 4, 1965', 'photo': 'https://jsonformatter.org/img/Robert-Downey-Jr.jpg', 'wife': 'Susan Downey', 'weight': 77.1, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Indio Falconer', 'Avri Roel', 'Exton Elias']}

{'_id': ObjectId('629b6acf98c5b5d6e9a41a4f'), 'name': 'Tom Cruise', 'age': 56, 'Born At': 'Syracuse, NY', 'Birthdate': 'July 3, 1962', 'photo': 'https://jsonformatter.org/img/tom-cruise.jpg', 'wife': None, 'weight': 67.5, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Suri', 'Isabella Jane', 'Connor']}

{'_id': ObjectId('629b6acf98c5b5d6e9a41a50'), 'name': 'Robert Downey Jr.', 'age': 53, 'Born At': 'New York City, NY', 'Birthdate': 'April 4, 1965', 'photo': 'https://jsonformatter.org/img/Robert-Downey-Jr.jpg', 'wife': 'Susan Downey', 'weight': 77.1, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Indio Falconer', 'Avri Roel', 'Exton Elias']}

{'_id': ObjectId('629b6af598c5b5d6e9a41a51'), 'name': 'Tom Cruise', 'age': 56, 'Born At': 'Syracuse, NY', 'Birthdate': 'July 3, 1962', 'photo': 'https://jsonformatter.org/img/tom-cruise.jpg', 'wife': None, 'weight': 67.5, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Suri', 'Isabella Jane', 'Connor']}

{'_id': ObjectId('629b6af598c5b5d6e9a41a52'), 'name': 'Robert Downey Jr.', 'age': 53, 'Born At': 'New York City, NY', 'Birthdate': 'April 4, 1965', 'photo': 'https://jsonformatter.org/img/Robert-Downey-Jr.jpg', 'wife': 'Susan Downey', 'weight': 77.1, 'hasChildren': True, 'hasGreyHair': False, 'children': ['Indio Falconer', 'Avri Roel', 'Exton Elias']}

In [101]:
first_record = collection.find_one()
first_record

In [95]:
record = collection.find_one_and_replace('a','b')
record

TypeError: replacement must be an instance of dict, bson.son.SON, or any other type that inherits from collections.Mapping

In [113]:
#create a new collection in local system with name "test" 
# tables in MYSQL = Collection in MongDB
collection1 = database_local["test4"]

#Insert multiple record in collection
record = [
         {'companyName': 'Hexacube',
         'product':'Affordable AI',
         'courseOffered':'Deep Learning for Computer Vision',
         'studentname' :['Ravi','Astha','Lika','Illisha'],
         'Listof Places':{"india": ['Pune','Chennai'], "outside india": ['Canada']},
         },
         {'companyName': 'Hexacube',
         'product':'Affordable AI',
         'courseOffered':'Deep Learning for Computer Vision',
         'studentname' :['Ravi','Astha','Lika','Illisha'],
         },
         ]

collection1.insert_many(record)

In [117]:
collection = database_local["test5"]

record = [
   { "_id" : 1, "team" : "Fearful Mallards", "score" : 25000 },
   { "_id" : 2, "team" : "Tactful Mooses", "score" : 23500 },
   { "_id" : 3, "team" : "Aquatic Ponies", "score" : 19250 },
   { "_id" : 4, "team" : "Cuddly Zebras", "score" : 15235 },
   { "_id" : 5, "team" : "Garrulous Bears", "score" : 18000 },
]


collection.insert_many(record);

In [124]:
db.scores = database_local["test7"]
record = [
   { "_id" : 1, "team" : "Fearful Mallards", "score" : 25000 },
   { "_id" : 2, "team" : "Tactful Mooses", "score" : 23500 },
   { "_id" : 3, "team" : "Aquatic Ponies", "score" : 19250 },
   { "_id" : 4, "team" : "Cuddly Zebras", "score" : 15235 },
   { "_id" : 5, "team" : "Garrulous Bears", "score" : 18000 },]
record

[{'_id': 1, 'team': 'Fearful Mallards', 'score': 25000},
 {'_id': 2, 'team': 'Tactful Mooses', 'score': 23500},
 {'_id': 3, 'team': 'Aquatic Ponies', 'score': 19250},
 {'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235},
 {'_id': 5, 'team': 'Garrulous Bears', 'score': 18000}]

In [127]:
db.scores = database_local["test8"]
db.scores.insert_many([
   { "_id" : 1, "team" : "Fearful Mallards", "score" : 25000 },
   { "_id" : 2, "team" : "Tactful Mooses", "score" : 23500 },
   { "_id" : 3, "team" : "Aquatic Ponies", "score" : 19250 },
   { "_id" : 4, "team" : "Cuddly Zebras", "score" : 15235 },
   { "_id" : 5, "team" : "Garrulous Bears", "score" : 18000 },]);

In [129]:
records_data = db.scores.find()
for idx,record in enumerate(records_data):
    print(f"{record}\n")

{'_id': 1, 'team': 'Fearful Mallards', 'score': 25000}

{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}

{'_id': 3, 'team': 'Aquatic Ponies', 'score': 19250}

{'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235}

{'_id': 5, 'team': 'Garrulous Bears', 'score': 18000}

In [179]:
query = {"_id":2}
a= db.scores.find(query)
for i in a:
    print(i)

{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}

In [184]:
query = {"_id":{"$gte" : 2}}
a = db.scores.find(query)
for i in a:
         print(i)

{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}
{'_id': 3, 'team': 'Aquatic Ponies', 'score': 19250}
{'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235}
{'_id': 5, 'team': 'Garrulous Bears', 'score': 18000}

In [187]:
query = {"_id":{"$lt" : 3}}
a = db.scores.find(query)
for i in a:
         print(i)

{'_id': 1, 'team': 'Fearful Mallards', 'score': 25000}
{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}

In [188]:
query = {"_id":{"$eq" : 2}}
a = db.scores.find(query)
for i in a:
         print(i)

{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}

In [166]:
c 1622

{'_id': 1, 'team': 'Fearful Mallards', 'score': 25000}

In [171]:
query = {"score":15235}
a= db.scores.find(query)
for i in a:
    print(i)

{'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235}

In [176]:
a= db.scores.find({'score': 15235})
for i in a:
    print(i)

{'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235}

In [190]:
a= db.scores.find({'score':{'$gt': 20000}})
for i in a:
    print(i)

{'_id': 1, 'team': 'Fearful Mallards', 'score': 25000}
{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}

In [177]:
a= db.scores.find({'team': 'Garrulous Bears'})
for i in a:
    print(i)

{'_id': 5, 'team': 'Garrulous Bears', 'score': 18000}

In [178]:
a= db.scores.find({'team': 'Garrulous*'})
for i in a:
    print(i)

In [204]:
a= db.scores.find({'score':{'$gte': 15000}})
for i in a:
    print(i)

{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}
{'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235}
{'_id': 5, 'team': 'Garrulous Bears', 'score': 18000}

# Deleting record

In [198]:
#Deleting single record
a= db.scores.delete_one({'score':{'$eq': 19250}})

In [199]:
a= db.scores.find({'score':{'$gte': 15000}})
for i in a:
    print(i)

{'_id': 1, 'team': 'Fearful Mallards', 'score': 25000}
{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}
{'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235}
{'_id': 5, 'team': 'Garrulous Bears', 'score': 18000}

In [202]:
#Deleting multiple record at same time
a= db.scores.delete_many({'score':{'$gte': 24550}})

In [203]:

a= db.scores.find({'score':{'$gte': 15000}})
for i in a:
    print(i)

{'_id': 2, 'team': 'Tactful Mooses', 'score': 23500}
{'_id': 4, 'team': 'Cuddly Zebras', 'score': 15235}
{'_id': 5, 'team': 'Garrulous Bears', 'score': 18000}

# Update Record

In [208]:
record9 = [
    {'_id': 6305, 'name' : "A. MacDyver", "assignment" : 5, "points" : 24 },
    {'_id': 6308, 'name' : "B. Batlock", "assignment" : 3, "points" : 22 },
    {'_id': 6312, 'name' : "M. Tagnum", "assignment" : 5, "points" : 30 },
    {'_id': 6319, 'name' : "R. Stiles", "assignment" : 2, "points" : 12 },
    {'_id': 6322, 'name' : "A. MacDyver", "assignment" : 2, "points" : 14 },
    {'_id': 6234, 'name' : "R. Stiles", "assignment" : 1, "points" : 10 }]

In [210]:
collection = database_local["test9"]
collection.insert_many(record9)

In [213]:
#Update one record , increment its point by 5
collection.find_one_and_update(
   { "name" : "R. Stiles" },
   { '$inc': { "points" : 5 } }
)

{'_id': 6319, 'name': 'R. Stiles', 'assignment': 2, 'points': 12}

In [214]:
for i in collection.find():
    print(i)

{'_id': 6305, 'name': 'A. MacDyver', 'assignment': 5, 'points': 24}
{'_id': 6308, 'name': 'B. Batlock', 'assignment': 3, 'points': 22}
{'_id': 6312, 'name': 'M. Tagnum', 'assignment': 5, 'points': 30}
{'_id': 6319, 'name': 'R. Stiles', 'assignment': 2, 'points': 17}
{'_id': 6322, 'name': 'A. MacDyver', 'assignment': 2, 'points': 14}
{'_id': 6234, 'name': 'R. Stiles', 'assignment': 1, 'points': 10}

In [219]:
#Update one record , decrement its point by-10.
#Below code was executed twice
collection.find_one_and_update(
   { "name" : "R. Stiles" },
   { '$inc': { "points" : -10 } }
)

{'_id': 6319, 'name': 'R. Stiles', 'assignment': 2, 'points': 7}

In [221]:
for i in collection.find():
    print(i)

{'_id': 6305, 'name': 'A. MacDyver', 'assignment': 5, 'points': 24}
{'_id': 6308, 'name': 'B. Batlock', 'assignment': 3, 'points': 22}
{'_id': 6312, 'name': 'M. Tagnum', 'assignment': 5, 'points': 30}
{'_id': 6319, 'name': 'R. Stiles', 'assignment': 2, 'points': -3}
{'_id': 6322, 'name': 'A. MacDyver', 'assignment': 2, 'points': 14}
{'_id': 6234, 'name': 'R. Stiles', 'assignment': 1, 'points': 10}

In [227]:
#Update name
collection.find_one_and_update(
   { "name" : "R. Stiles" },
   { '$set': { "name" : "Radha Babu" } }
)

{'_id': 6319, 'name': 'R. Stiles', 'assignment': 2, 'points': -3}

In [228]:
for i in collection.find():
    print(i)

{'_id': 6305, 'name': 'A. MacDyver', 'assignment': 5, 'points': 24}
{'_id': 6308, 'name': 'B. Batlock', 'assignment': 3, 'points': 22}
{'_id': 6312, 'name': 'M. Tagnum', 'assignment': 5, 'points': 30}
{'_id': 6319, 'name': 'Radha Babu', 'assignment': 2, 'points': -3}
{'_id': 6322, 'name': 'A. MacDyver', 'assignment': 2, 'points': 14}
{'_id': 6234, 'name': 'R. Stiles', 'assignment': 1, 'points': 10}

In [231]:
#Update Id
collection.find_one_and_update(
   { 'assignment': 5 },
   { '$set': { 'assignment': 55} }
)

{'_id': 6305, 'name': 'A. MacDyver', 'assignment': 5, 'points': 24}

In [232]:
for i in collection.find():
    print(i)

{'_id': 6305, 'name': 'A. MacDyver', 'assignment': 55, 'points': 24}
{'_id': 6308, 'name': 'B. Batlock', 'assignment': 3, 'points': 22}
{'_id': 6312, 'name': 'M. Tagnum', 'assignment': 5, 'points': 30}
{'_id': 6319, 'name': 'Radha Babu', 'assignment': 2, 'points': -3}
{'_id': 6322, 'name': 'A. MacDyver', 'assignment': 2, 'points': 14}
{'_id': 6234, 'name': 'R. Stiles', 'assignment': 1, 'points': 10}