# Step 1: Create database connection and show list of all database

In [92]:
#Create database connection and show list of all database 
import mysql.connector as connection
try:
    mydb = connection.connect(host ="localhost", user ="devuser", passwd="Logitech1234#", use_pure= True)
    #check if the connection is established
    show_db_query ="SHOW DATABASES"
    
    cursor=mydb.cursor() #create a cursor to execute queries
    cursor.execute(show_db_query)
    print(cursor.fetchall())
except Exception as e:
    print(str(e))
finally:
    mydb.close()

[('information_schema',), ('coffee_store',), ('mysql',), ('performance_schema',), ('sakila',), ('student',), ('student1',), ('student2',), ('sys',), ('test',), ('world',)]

# Step 2: Create database connection and Create database STUDENTA

In [93]:

import mysql.connector as connection
try:
    mydb = connection.connect(host ="localhost", user ="devuser", passwd="Logitech1234#", use_pure= True)
    #check if the connection is established
    create_db_query ="CREATE DATABASE STUDENTA"
    cursor=mydb.cursor() #create a cursor to execute queries
    cursor.execute(create_db_query)
    print(cursor.fetchall())
except Exception as e:
    print(str(e))
finally:
    mydb.close()

[]

# we can execute the Database creation query without writing in TRY catch block

In [94]:
#first connection is established 
mydb = connection.connect(host ="localhost", user ="devuser", passwd="Logitech1234#", use_pure= True)
create_db_query1 ="CREATE DATABASE STUDENTB"
cursor=mydb.cursor() #create a cursor to execute create database query
cursor.execute(create_db_query1)

In [96]:
show_db_query1 ="SHOW DATABASES"
cursor.execute(show_db_query1)
print(cursor.fetchall())

[('information_schema',), ('coffee_store',), ('mysql',), ('performance_schema',), ('sakila',), ('student',), ('student1',), ('student2',), ('studenta',), ('studentb',), ('sys',), ('test',), ('world',)]

In [97]:
#Step to close the Database close
mydb.close()

In [98]:
#Step to establish connection to the Database 
mydb = connection.connect(host ="localhost", user ="devuser", passwd="Logitech1234#", use_pure= True)
cursor1= mydb.cursor()

In [99]:
#any action on Database can only be performed once we execute "use database" 
query1= "use studentb"
cursor1.execute(query1)

In [101]:
#query to create a table  student_table in database studentb
create_table_query = "CREATE TABLE  student_table(studentid decimal(10) primary key,name varchar(30),age date,classno varchar(30)); "
cursor1.execute(create_table_query)

In [102]:
#Query to view description of newly created table 
desc_table_query = "desc student_table;"
cursor1.execute(desc_table_query)
print(cursor1.fetchall())

[('studentid', 'decimal(10,0)', 'NO', 'PRI', None, ''), ('name', 'varchar(30)', 'YES', '', None, ''), ('age', 'date', 'YES', '', None, ''), ('classno', 'varchar(30)', 'YES', '', None, '')]

In [104]:
#Query to insert entry into table  student_table
insert_table_query = "insert into student_table values(10,'Ravi Dubey', 19830115,'10-C');"
cursor1.execute(insert_table_query)

In [117]:
#Query to view student_table data entry
view_table_query = "SELECT * FROM  student_table;"
cursor1.execute(view_table_query)

In [118]:
#we can store the output in result variable
result =cursor1.fetchall()
result

[(Decimal('10'), 'Ravi Dubey', datetime.date(1983, 1, 15), '10-C')]

In [120]:
#we can print the output in result variable
for i in result:
    for j in i:
        print(j)

10
Ravi Dubey
1983-01-15
10-C